<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
<body>
    <div id="postArea">
    </div>

</body>
</html>
<script>
    String.prototype.format = function(args) {
        if (arguments.length > 0) {
            var result = this;
            if (arguments.length == 1 && typeof(args) == "object") {
            for (var key in args) {
                var reg = new RegExp("({" + key + "})", "g");
                result = result.replace(reg, args[key]);
            }
            } else {
            for (var i = 0; i < arguments.length; i++) {
                if (arguments[i] == undefined) {
                return "";
                } else {
                var reg = new RegExp("({[" + i + "]})", "g");
                result = result.replace(reg, arguments[i]);
                }
            }
            }
            return result;
        } else {
            return this;
        }
    }

    var searchParams = new URLSearchParams(new URL(location.href).search);
    const uid = Number(searchParams.get('uid'));
    $.ajax({
        url:"/data/login",
        type:"post",
        data:{"uid":uid},
        success:function(res){
        }
        });
        
    window.onbeforeunload =  function (){
        $.ajax({
        url:"/data/logout",
        type:"post",
        data:{"uid":uid},
        success:function(res){
        }
    })
    };

    const divPostArea = $('#postArea')
    $.ajax(
        {
            url:"/post/surf",
            type:"post",
            data:{},
            success:surf
        }
    )

    function approve(postId){
    }
    
    function surf(res){
        var innerhtml;
        var template = " \
            <div id = \"{0}}Id\"> \
                {1} \
                <br> \
                date:{2}&nbsp;userId:{3}\
                <br>\
                <button id=\"btn{0}\" onclick = approve({0})>点赞</button>\
            </div>\
            "
        for(var i=0;i<res.length;i++){
            let postId = res[i].nId;
            innerhtml += template.format(postId, res[i].content, res[i].date, res[i].userId);
        }
        divPostArea.append(innerhtml);
    } 
</script>